.swiper {
    width: 600px;
    height: 20vh;
  }

  @media (max-width: 575.98px) {

    .swiper{
      margin-top: 4.6rem;
      /* height: 35vh */
      height: 100%;
    }

  }

  @media (min-width: 992px){
    .swiper{
      height: 65vh;
    }
  }